.perfil {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    width: 600px;
    font-size: 16px;   
    align-items: center; 

}



.fotoperfil {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin-bottom : 20px;
    margin-top: 50px;
}

.conexao{
    margin-top: 50px;

}
.redes-sociais {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes{
    height: 45px;
    width: 45px;
}
