.Habilidades{

    border: 1px solid red;
    margin-right: 0px;
}

.alinhar{

    align-items: center;
}


.circles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 80px;
}
.circle{
    height: 15px;
    width: 15px;
    background-color: black;
}